/* board__inner 
    + board__search
    + board__table
    + board__pages
    + board__view
    + board__btn
    + board__write
*/
main {
    width: 100%;
    /* height: 1270px; */
    background-image: url(../img/sub_01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 120px 200px;
    position: relative;
    color: #fff;
}
.board__inner h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 120px;
}
.board__search fieldset {
    display: flex;
    justify-content: right;
    align-items: center;
}
.board__search input {
    border: 0;
    background-color: var(--color__white);
    padding: 9px 30px;
    border-radius: 5px;
    height: 40px;
    margin-right: 10px;
}
.board__search select {
    border: 0;
    width: 90px;
    height: 40px;
    padding: 11px;
    border-radius: 5px;
    margin-right: 10px;
}
.board__search button {
    margin-right: 10px;
}

.board__table {
    margin-top: 10px;
    margin-bottom: 60px;
    border-top: 2px solid var(--color__white);
    border-bottom: 2px solid var(--color__white);
    text-align: center;
}
.board__table table th {
    background-color: var(--color__white);
    border-bottom: 1px solid var(--color__white);
    padding: 15px 5px;
    color: var(--color__black);
}
.board__table table tr:hover {
    background-color: rgba(224, 224, 224, 0.2);;
}
.board__table table td {
    padding: 15px 5px;
    border-bottom: 1px solid var(--color__white);
} 
.board__table table td a:hover {
    text-decoration: underline;
    text-underline-position: under;
} 
.board__table table a {
    color: var(--color__white);
}
.board__pages {
    margin-bottom: 100px;
} 
.board__pages ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.board__pages li a {
    border: 1px solid #fff;
    padding: 10px 13px;
    margin-left: -1px;
    color: var(--color__white);
}
.board__pages li a:hover {
    background-color: var(--color__white);
    color: var(--color__black);
}
.board__pages li.active a {
    background-color: var(--color__white);
    color: var(--color__black);
}
.board__box {
    width: 100%;
    background-color: #464B5F;
}
.board__view {
    width: 1200px;
    margin: 0 auto;
    color: var(--color__white);
}
.board__view h2 {
    font-size: 50px;
    text-align: center;
    padding: 10%; 
}
.board__main {
    border-top: 3px solid var(--color__white);
    border-bottom: 3px solid var(--color__white);
    margin-bottom: 50px;
}
.board__main img {
    width: 50%;
    height: 50vh;
    padding: 20px;
}
.board__title {
    border-bottom: 1px solid var(--color__white);
} 
.board__title p {
    margin: 20px;
    font-size: 24px;
}  
.board__desc {
    border-bottom: 1px solid var(--color__white);
}
.board__desc p {
    margin: 20px;
    line-height: 2;
}  
.board__contents {
    margin: 20px;
    height: 600px;
    line-height: 2;
}
.board__btn {
    padding: 20px 0 100px;
    text-align: right;
}
.board__btn a {
    display: inline-block;
    text-align: center;
}
.board__write {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 120px 200px;
    background-color: #464B5F;
    text-align: left;
}
.board__write h2 {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.board__write label {
    width: 100%;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}
.board__write select {
    width: 300px;
    height: 50px;
    padding: 5px;
    margin-bottom: 40px;
    border: 3px solid #fff;
    background-color: #464B5F;
    color: #fff;
    border-radius: 20px;
}
.board__write select option {
    padding: 300px;
}
.board__write input {
    margin-bottom: 50px;
    border: 3px solid var(--color__white);
    background-color: #464B5F;
    color: var(--color__white);
}
.board__write textarea {
    padding: 2em;
    resize: none;
    border: 3px solid var(--color__white);
    background-color: #464B5F;
    color: var(--color__white);
}
.board__write button {
    float: right;
    margin-top: 10px;
}
.board__write a {
    float: right;
    margin: 10px;
}
